@tailwind base;

@font-face {
  font-family: 'Sora';
  font-weight: 500;
  src: url('./fonts/Sora-SemiBold.ttf');
}

@font-face {
  font-family: 'Sora';
  font-weight: 300;
  src: url('./fonts/Sora-Light.ttf');
}

@font-face {
  font-family: 'LibreBaskerville';
  font-weight: 400;
  src: url('./fonts/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'LibreBaskerville';
  font-weight: 600;
  src: url('./fonts/LibreBaskerville-Bold.ttf');
}

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
body {
    background-color: #EBEBE3;
    color:#2B2B28;
    font-weight: 300;
}

.home-page-content {
  @apply font-serif;
  @apply text-2xl;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
