@tailwind base;

@font-face {
  font-family: 'Campton';
  font-weight: 100;
  src: url('./fonts/Rene\ Bieder\ -\ Campton\ Thin.otf');
}

@font-face {
  font-family: 'Campton';
  font-weight: 200;
  src: url('./fonts/Rene\ Bieder\ -\ Campton\ ExtraLight.otf');
}

@font-face {
  font-family: 'Campton';
  font-weight: 300;
  src: url('./fonts/Rene\ Bieder\ -\ Campton\ Light.otf');
}

@font-face {
  font-family: 'Campton';
  font-weight: 400;
  src: url('./fonts/Rene\ Bieder\ -\ Campton\ Book.otf');
}

@font-face {
  font-family: 'Campton';
  font-weight: 500;
  src: url('./fonts/Rene\ Bieder\ -\ Campton\ Medium.otf');
}

@font-face {
  font-family: 'Campton';
  font-weight: 600;
  src: url('./fonts/Rene\ Bieder\ -\ Campton\ SemiBold.otf');
}

@font-face {
  font-family: 'Campton';
  font-weight: 700;
  src: url('./fonts/Rene\ Bieder\ -\ Campton\ Bold.otf');
}

@font-face {
  font-family: 'LibreBaskerville';
  font-weight: 400;
  src: url('./fonts/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'LibreBaskerville';
  font-weight: 600;
  src: url('./fonts/LibreBaskerville-Bold.ttf');
}

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
body {
    background-color: #2B2B28;
    color:#EBEBE3;
    font-weight: 300;
}

.home-page-content {
  @apply font-serif;
  @apply text-2xl;
}

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
